html,
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  color: #e5e7eb;
  font-size: 18px;
  display: flex;
  gap: 20px;
}

nav {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar,
.hero {
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  padding: 0px 10px;
}

.hero {
  padding: 100px 10px;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 600;
}

.hero-container {
  width: 1000px;
  display: flex;
  gap: 20px;
}

.hero-content > h1 {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
  margin-top: 0;
}

.hero-content > p {
  font-size: 18px;
  color: #e5e7eb;
}

.hero-content > button {
  background-color: #3882f6;
  padding: 10px 30px;
  border: 0;
  border-radius: 10px;
  color: #e5e7eb;
  font-size: 20px;
  font-weight: 600;
  margin-top: 15px;
}

.hero-content {
  flex-basis: 50%;
}

.hero-img {
  flex-basis: 50%;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-img > p {
  color: #f9faf8;
}

.information {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0px;
  padding: 0px 10px;
}

.information > h2 {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}

.info-card {
  width: 150px;
  display: flex;
  flex-direction: column;
}

.info-image {
  height: 170px;
  border: 3px solid;
  border-color: #3882f6;
  border-radius: 10px;
}

.info-card > p {
  text-align: center;
}

.info-container {
  display: flex;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
}

.quote {
  background-color: #e5e7eb;
  display: flex;
  justify-content: center;
  justify-content: center;
  padding: 0px 10px;
}

.quote-container {
    width: 800px;
    margin: 80px 0px;
}

.quote-container > p {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    font-style: italic;
    margin: 0;
}

.quote-author {
    font-weight: bold;
    font-size: 18px;
    text-align: right;
}


.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
}

.cta-container {
    background-color: #3882f6;
    border-radius: 10px;
    width: 1000px;
    color: #e5e7eb;
    margin: 80px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 120px;
}

.cta-content > h3, p{
    margin: 0px;
}

.cta-container > button {
  background-color: #3882f6;
  padding: 10px 30px;
  border: 3px solid;
  border-radius: 10px;
  border-color: #e5e7eb;
  color: #e5e7eb;
  font-size: 20px;
  font-weight: 600;
}